{% extends "auctions/layout.html" %}
	
{% block body %}
	<h1>Create Listing</h1>
	<form action="{% url 'create_listing' %}" method="POST">
		{% csrf_token %}
		<div class="mb-3">
			<label for="title" class="form-label">Title</label>
			<input type="text" class="form-control" name="title" id="title" placeholder="Enter title">
		</div>
		<div class="mb-3">
			<label for="description" class="form-label">Description</label>
			<input type="text" class="form-control" name="description" id="description" placeholder="Enter description">
		</div>			
		<div class="mb-3">
			<label for="image" class="form-label">Image</label>
			<input type="text" class="form-control" name="image" id="image" placeholder="Enter image">
		</div>			
		<div class="mb-3">
			<label for="price" class="form-label">Price</label>
			<input type="number" min="0" class="form-control" name="price" id="price" placeholder="Enter price">
		</div>
		<div class="mb-3">
			<label for="category">Choose a Category</label>
			  <select name="category" id="category">
				{% for category in categories %}
				<option value="{{category.name}}">{{category.name}}</option>
				{% endfor %}
			  </select>		
		</div>
		<button type="submit" class="btn btn-success">Create new listing!</button>		
	</form>
	
{% endblock %}