{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
	<!-- 內容區 -->
	<form action="{% url 'display_category' %}" method="POST">
		{% csrf_token %}
		<label for="category">Choose a Category</label>
			<select name="category" id="category">
				{% for category in categories %}
				<option value="{{category.name}}">{{category.name}}</option>
				{% endfor %}
			</select>
		<button type="submit" class="btn btn-warning" >submit</button>	
	</form>		
	{% for auction in Listing %}
	<div class="main-content">
		<img class="image" src="{{auction.image}}" alt="{{auction.title}}">
		<div class="title">
			<span><strong><a href="{% url 'listing' auction.id %}">{{auction.title}}</a></strong></span>
			<span><strong>Price:${{auction.starting_bid|floatformat:"2"}}</strong></span>
			<span>created {{auction.date_created}}</span>
		</div>		
	</div>
	{% endfor %}
{% endblock %}